{{ define "error500" }}
{{ template "header" . }}
<section class="mx-6">
    <h1 class="text-4xl mb-4">500 Internal Server Error</h1>
    <p class="error my-4">
        {{ if .error }}
        Error: {{ .error }}
        {{ end }}
    </p>
</section>
{{ template "footer" }}
{{ end }}
