{{ define "pagination" }}
    {{ $filter := .filter }}
    {{ $metadata := .metadata }}

    <p id="table-counts">
        Showing {{ .metadata.Count}} of {{ .metadata.TotalCount }} runs
        Page {{ .metadata.Page }} / {{ .metadata.TotalPages }}
    </p>

    <nav class="my-2 grid grid-rows-1 grid-cols-4 gap-2 max-w-lg" id="table-nav">
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2"
            hx-get="?page=1&page_size={{ $filter.PageSize }}"
            hx-include="#table-form,#chart-form"
            hx-select="table > tbody"
            hx-target="table > tbody"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $metadata.Page 1 }}disabled{{ end }}>
            &laquo; First
        </button>
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2"
            hx-get="?page={{ subtractInt $metadata.Page 1 }}&page_size={{ $filter.PageSize }}"
            hx-include="#table-form,#chart-form"
            hx-select="table > tbody"
            hx-target="table > tbody"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $metadata.Page 1 }}disabled{{ end }}>
            &lsaquo; Previous
        </button>
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2 text-center"
            hx-get="?page={{ addInt $metadata.Page 1 }}&page_size={{ $filter.PageSize }}"
            hx-include="#table-form,#chart-form"
            hx-select="table > tbody"
            hx-target="table > tbody"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $metadata.Page $metadata.TotalPages }}disabled{{ end }}>
            Next &rsaquo;
        </button>
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2 min-w-fit text-center"
            hx-get="?page={{ $metadata.TotalPages }}&page_size={{ $filter.PageSize }}"
            hx-include="#table-form,#chart-form"
            hx-select="table > tbody"
            hx-target="table > tbody"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $metadata.Page $metadata.TotalPages }}disabled{{ end }}>
            Last &raquo;
        </button>
    </nav>
{{ end }}
