{{ define "qc" }}
{{ template "header" . }}
<h2 class="text-3xl mx-6 my-4">Sequencing QC</h2>

{{ template "qc_table" . }}

<section id="run-qc-chart" class="mx-6 my-8">
    <h2 class="text-3xl my-4">Charts</h2>
    <div>
        <form class="flex gap-2" id="chart-form"
            autocomplete="off"
            hx-get="/qc/charts/global"
            hx-target="#chart-container"
            hx-trigger="change, keyup delay:300ms from:input[name=run_id_query], change from:select[name=platform]"
            hx-swap="innerHtml ignoreTitle:true"
            hx-include="#table-form"
            hx-indicator="#chart-spinner">
            <input type="hidden" name="page_size" value="{{ .filter.PageSize }}" />
            <input type="hidden" name="page" value="{{ .filter.Page }}" />
            <label class="flex flex-col">
                <span class="text-sm font-bold">Chart data</span>
                <select id="chart-data-select" class="border rounded-md" name="chart-data">
                    <option value="q30"{{ if eq .chart_config.ChartData "q30" }} selected{{ end }}>%&ge;Q30</option>
                    <option value="error_rate"{{ if eq .chart_config.ChartData "error_rate" }} selected{{ end }}>Error rate</option>
                </select>
            </label>
            <label class="flex flex-col">
                <span class="text-sm font-bold">Chart type</span>
                <select id="chart-type-select" class="border rounded-md" name="chart-type">
                    <option value="bar"{{ if eq .chart_config.ChartData "bar" }} selected{{ end }}>Bar chart</option>
                    <option value="line"{{ if eq .chart_config.ChartType "line" }} selected{{ end }}>Line chart</option>
                </select>
            </label>
        </form>
        <div class="relative isolate max-w-[900px] min-h-[500px]">
            <div id="chart-spinner" class="bg-slate-400/25 absolute pointer-events-none w-full h-full htmx-indicator flex items-center justify-center z-10">
                <span class="flex items-center gap-2 text-4xl"><img class="inline-block size-[.8lh] animate-spin" src="/static/img/spinner.svg"> Loading chart...</span>
            </div>
            <div id="chart-container"
                hx-get="/qc/charts/global"
                hx-include="#chart-form,#qc-table-form"
                hx-trigger="load"
                hx-swap="innerHTML ignoreTitle:true"
                hx-indicator="#chart-spinner">
            </div>
        </div>
    </div>
</section>
<script src="/static/js/echarts.min.js"></script>
{{ template "footer" }}
{{ end }}
