{{ define "qc_table" }}
{{ $filter := .filter }}
{{ $current_page := .metadata.Page }}
{{ $total_pages := .metadata.TotalPages }}

<section class="mx-6 mb-4 mb-8">
    <p>Here are QC data from the sequencing for runs that have completed.</p>

    <p id="table-counts">
        Showing {{ .metadata.Count}} of {{ .metadata.TotalCount }} runs
        Page {{ .metadata.Page }} / {{ .metadata.TotalPages }}
    </p>

    <div class="my-2" id="table-nav">
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2"
            hx-get="/qc?page={{ subtractInt $current_page 1 }}&page_size={{ $filter.PageSize }}"
            hx-include="#qc-table-form,#chart-form"
            hx-select="#qc-table-body"
            hx-target="#qc-table-body"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $current_page 1 }}disabled{{ end }}>
            Previous
        </button>
        {{ range N 1 (addInt .metadata.TotalPages 1) }}
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2"
            hx-get="/qc?page={{ . }}&page_size={{ $filter.PageSize }}"
            hx-include="#qc-table-form,#chart-form"
            hx-select="#qc-table-body"
            hx-target="#qc-table-body"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $current_page .}}disabled{{ end }}>
            {{ . }}
        </button>
        {{ end }}
        <button type="button"
            class="disabled:bg-gray-400 bg-accent-900 text-white table-nav-item py-1 px-2"
            hx-get="/qc?page={{ addInt $current_page 1 }}&page_size={{ $filter.PageSize }}"
            hx-include="#qc-table-form,#chart-form"
            hx-select="#qc-table-body"
            hx-target="#qc-table-body"
            hx-select-oob="#table-counts,#table-nav,#run-qc-chart"
            hx-swap="outerHTML"
            {{ if eq $current_page $total_pages }}disabled{{ end }}>
            Next
        </button>
    </div>

    <form id="qc-table-form"
        hx-get="/qc"
        hx-trigger="search, keyup changed delay:300ms from:input[name=run_id_query], change from:select[name=platform]"
        hx-select="#qc-table-body"
        hx-target="#qc-table-body"
        hx-select-oob="#table-counts,#table-nav"
        hx-swap="outerHTML">
        <table class="w-full text-left">
            <thead>
                <tr class="border-b border-slate-500">
                    <th>Run</th>
                    <th>Sequencing date</th>
                    <th>Platform</th>
                    <th>Flowcell</th>
                    <th class="text-right">Yield (Gbp)</th>
                    <th class="text-right">%&ge;Q30</th>
                    <th class="text-right">Aligned to PhiX (%)</th>
                    <th class="text-right">Error rate (%)</th>
                    <th class="text-right">Occupied (%)</th>
                </tr>
                <tr>
                    <th><input class="w-full border border-slate-300" type="search" name="run_id_query" placeholder="Run ID filter" value="{{ $filter.RunIdQuery }}"></input></th>
                    <th></th>
                    <th>
                        <select name="platform">
                            <option value=""{{ if eq $filter.Platform "" }} selected{{ end }}>All</option>
                            {{ range .platforms }}
                            <option value="{{ . }}"{{ if eq $filter.Platform . }} selected{{ end }}>{{ . }}</option>
                            {{ end }}
                        </select>
                    </th>
                    <th></th>
                    <th class="text-right"></th>
                    <th class="text-right"></th>
                    <th class="text-right"></th>
                    <th class="text-right"></th>
                </tr>
            </thead>

            <tbody class="border-y border-slate-500" id="qc-table-body">
                {{ if not .qc }}
                <tr><td colspan="10" class="text-center">No results to show</td></tr>
                {{ end }}
                {{ range .qc }}
                <tr class="hover:bg-accent-100">
                    <td><a class="text-accent-900" href="/runs/{{ .RunId }}">{{ .RunId }}</a></td>
                    {{ if .Date.IsZero }}
                    <td colspan="8" class="text-center">Unsupported QC version in the database, update the run</td>
                    {{ else }}
                    <td>{{ .Date.Local.Format "2006-01-02" }}</td>
                    <td>{{ .Platform }}</td>
                    <td>{{ .Flowcell }}</td>
                    <td class="text-right">{{ multiply (toFloat .RunSummary.Yield) 1e-9 | printf "%.2f" }}</td>
                    <td class="text-right">{{ .RunSummary.PercentQ30 | printf "%.2f" }}</td>
                    <td class="text-right">{{ .RunSummary.PercentAligned | printf "%.2f" }}</td>
                    <td class="text-right">{{ .RunSummary.ErrorRate | printf "%.2f" }}</td>
                    <td class="text-right">{{ .RunSummary.PercentOccupied | printf "%.2f" }}</td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </form>
</section>
{{ end }}
