{{ define "message" }}
<div class="w-fit p-2 m-6 text-white {{ if eq .Class "warning" }} bg-amber-600 {{ else }} bg-slate-500 {{ end }}">
    <p>{{ .Text }}</p>
</div>
{{ end }}

{{ define "run" }}
{{ template "header" . }}
{{ $state := (index .run.StateHistory 0).State.String }}
<header class="m-6">
    <h2 class="text-3xl">Sequencing run: {{ .run.RunID }}
        <span class="state-{{ $state }} inline-block py-1 px-2 rounded-md">
            {{ title $state }}
        </span>
    </h2>
</header>

{{ if eq .message nil | not }}
{{ template "message" .message }}
{{ end }}

<section class="m-6">
    <table class="bg-accent-100 my-6 max-w-fit">
        <tr>
            <th class="bg-accent-900 text-accent-100 text-right px-2">Sequencing date</th>
            <td class="px-2">{{ .run.RunInfo.Date.Local.Format "2006-01-02" }}</td>
        </tr>
        <tr>
            <th class="bg-accent-900 text-accent-100 text-right px-2">Platform</th>
            <td class="px-2">{{ .run.RunInfo.Platform }}</td>
        </tr>
        <tr>
            <th class="bg-accent-900 text-accent-100 text-right px-2">Flowcell</th>
            <td class="px-2">{{ .run.RunInfo.FlowcellName }}</td>
        </tr>
        <tr>
            <th class="bg-accent-900 text-accent-100 text-right px-2">Path</th>
            <td class="px-2"><code>{{ .run.Path }}</code></td>
        </tr>
    </table>
    {{ if .hasQc }}
    <div class="flex my-6">
        <div class="bg-accent-100 p-4 mr-2">
            <h3 class="text-xl font-bold">Yield</h3>
            <span class="text-lg inline-block w-full text-right">{{ toFloat .qc.RunSummary.Yield | multiply 1e-9 | printf "%.2f" }} Gbp</span>
        </div>
        <div class="bg-accent-100 p-4 mx-2">
            <h3 class="text-xl font-bold">%&gt;=Q30</h3>
            <span class="text-lg inline-block w-full text-right">{{ .qc.RunSummary.PercentQ30 | printf "%.2f" }}%</span>
        </div>
        <div class="bg-accent-100 p-4 mx-2">
            <h3 class="text-xl font-bold">% Passing filter</h3>
            <span class="text-lg inline-block w-full text-right">{{ .qc.RunSummary.PercentPf | printf "%.2f" }}%</span>
        </div>
        {{ if not (isNaN .qc.RunSummary.PercentOccupied) }}
        <div class="bg-accent-100 p-4 mx-2">
            <h3 class="text-xl font-bold">% Occupied</h3>
            <span class="text-lg inline-block w-full text-right">{{ .qc.RunSummary.PercentOccupied | printf "%.2f" }}%</span>
        </div>
        {{ end }}
        <div class="bg-accent-100 p-4 ml-2">
            <h3 class="text-xl font-bold">Cluster density (K/mm<sup>2</sup>)</h3>
            <span class="text-lg inline-block w-full text-right">{{ multiply .qc.RunSummary.Density 1e-3 | printf "%.2f" }}</span>
        </div>
    </div>
    {{ end }}
</section>

<section class="m-6 border-t overflow-x-auto">
    <h3 class="text-2xl my-4">Index metrics</h3>

    {{ if .hasQc }}
    <div class="flex items-center my-6">
        <div class="bg-accent-100 p-4 mr-2">
            <h3 class="text-xl font-bold">Total reads (M)</h3>
            <span class="text-lg inline-block w-full text-right">{{ toFloat .qc.IndexSummary.TotalReads | multiply 1e-6 | printf "%.2f" }}</span>
        </div>
        <div class="bg-accent-100 p-4 mx-2">
            <h3 class="text-xl font-bold">Passing filter reads (M)</h3>
            <span class="text-lg inline-block w-full text-right">{{ toFloat .qc.IndexSummary.PfReads | multiply 1e-6 | printf "%.2f" }}</span>
        </div>
        <div class="bg-accent-100 p-4 mx-2">
            <h3 class="text-xl font-bold">% Undetermined</h3>
            <span class="text-lg inline-block w-full text-right">{{ .qc.IndexSummary.PercentUndetermined | printf "%.2f" }}%</span>
        </div>
    </div>
    <table class="my-6">
        <thead class="bg-accent-900 text-accent-100">
            <tr>
                <th class="px-2">Sample</th>
                <th class="px-2">Index</th>
                <th class="px-2 text-right">Reads (M)</th>
                <th class="px-2 text-right">% PF reads</th>
            </tr>
        </thead>
        <tbody class="bg-accent-100">
            {{ range $s := .qc.IndexSummary.Indexes }}
                <tr>
                    <td class="px-2">{{ $s.Sample }}</td>
                    <td class="px-2">{{ $s.Index }}</td>
                    <td class="px-2 text-right">{{ toFloat $s.ReadCount | multiply 1e-6 | printf "%.2f" }}</td>
                    <td class="px-2 text-right">{{ $s.PercentReads | printf "%.2f" }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<section class="m-6 border-t overflow-x-auto">
    <h3 class="text-2xl my-4">Lane summary</h3>
    <table class="my-6 w-full text-left max-h-lvh overflow-y-scroll">
        <thead class="bg-accent-900 text-accent-100">
            <tr>
                <th class="px-2">Lane</th>
                <th class="px-2 text-right">Cluster density (K/mm<sup>2</sup>)</th>
                <th class="px-2 text-right">Yield (Gbp)</th>
                <th class="px-2 text-right">Error rate (%)</th>
            </tr>
        </thead>
        <tbody class="bg-accent-100">
            {{ range .qc.LaneSummary }}
                <tr>
                    <td class="px-2">{{ .Lane }}</td>
                    <td class="px-2 text-right">{{ multiply .Density 1e-3 | printf "%.2f" }}</td>
                    <td class="px-2 text-right">{{ toFloat .Yield | multiply  1e-9 | printf "%.2f" }}</td>
                    <td class="px-2 text-right">{{ .ErrorRate | printf "%.2f" }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<section class="m-6 border-t overflow-x-auto">
    <h3 class="text-2xl my-4">Read summary</h3>
    <table class="my-6 w-full text-left">
        <thead class="bg-accent-900 text-accent-100">
            <tr>
                <th class="px-2">Read</th>
                <th class="px-2">Lane</th>
                <th class="px-2 text-right">%>=Q30</th>
                <th class="px-2 text-right">Error rate (%)</th>
                <th class="px-2 text-right">Aligned to PhiX (%)</th>
            </tr>
        </thead>
        <tbody class="bg-accent-100">
            {{ range .qc.ReadSummary }}
                <tr>
                    <td class="px-2">{{ .Read }}</td>
                    <td class="px-2">{{ .Lane }}</td>
                    <td class="px-2 text-right">{{ .PercentQ30 | printf "%.2f" }}</td>
                    <td class="px-2 text-right">{{ .ErrorRate | printf "%.2f" }}</td>
                    <td class="px-2 text-right">{{ .PercentAligned | printf "%.2f" }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    {{ else if eq $state "ready" }}
    <p>QC data has yet to be imported for this run.</p>
    {{ else }}
    <p>QC data is not available until the run is ready.</p>
    {{ end }}
</section>

<section class="m-6 border-t">
    <h3 class="text-2xl my-4">Samplesheet</h3>

    {{ if eq .samplesheet.RunID nil }}
    <p>No samplesheet has been imported for this run.</p>
    {{ else }}
        {{ range .samplesheet.Sections }}
        {{ $sectionType := .Type }}
        <section class="my-4 overflow-x-auto">
            <h4 class="text-xl my-2">{{ .Name }}</h4>
            <table class="{{ if eq $sectionType 2 }}w-full {{ end }}text-left">
                {{ if eq $sectionType 2 }}
                <thead class="bg-accent-900 text-accent-100">
                    <tr>
                    {{ range (index .Rows 0) }}
                        <th>{{ . }}</th>
                    {{ end }}
                    </tr>
                <thead>
                {{ end }}
                <tbody class="bg-accent-100">
                    {{ range $i, $row := .Rows }}
                    <tr>
                    {{ if eq $sectionType 1 }}
                        <!-- settings section -->
                        <th class="bg-accent-900 text-accent-100 text-right px-2">{{ index $row 0 }}</th>
                        {{ range N 1 (len $row) }}
                        <td class="px-2">{{ index $row . }}<td>
                        {{ end }}
                    {{ else if eq $sectionType 2 }}
                        <!-- data section -->
                        {{ if eq $i 0 }}
                        {{ continue }}
                        {{ end }}
                        {{ range $row }}
                            <td>{{ . }}</td>
                        {{ end }}
                    {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
        {{ end }}
    {{ end }}
</section>

<section class="m-6 border-t">
    <h2 class="text-2xl my-4">Charts</h2>

    {{ if .hasQc }}
    <form id="chart-form"
        autocomplete="off"
        hx-get="/qc/charts/run/{{ .run.RunID }}"
        hx-target="#chart-container"
        hx-trigger="change"
        hx-swap="innerHtml ignoreTitle:true"
        hx-include="#qc-table-form">
        <label for="chart-data-x-select">X-axis:</label>
        <select id="chart-data-x-select" name="chart-data-x">
            <option value="percent_occupied"{{ if eq .chart_config.XData "percent_occupied" }} selected{{ end }}>% occupied</option>
            <option value="percent_pf"{{ if eq .chart_config.XData "percent_pf" }} selected{{ end }}>% passing filter</option>
        </select>
        <label for="chart-data-y-select">Y-axis:</label>
        <select id="chart-data-y-select" name="chart-data-y">
            <option value="percent_occupied"{{ if eq .chart_config.YData "percent_occupied" }} selected{{ end }}>% occupied</option>
            <option value="percent_pf"{{ if eq .chart_config.YData "percent_pf" }} selected{{ end }}>% passing filter</option>
        </select>
        <label for="chart-type-select">Chart type:</label>
        <select id="chart-type-select" name="chart-type">
            <option value="scatter"{{ if eq .chart_config.ChartType "scatter" }} selected{{ end }}>Scatter plot</option>
        </select>
        <label for="chart-color-by-select">Color by:</label>
        <select id="chart-color-by-select" name="chart-color-by">
            <option value="lane"{{ if eq .chart_config.ColorBy "lane" }} selected{{ end }}>Lane</option>
        </select>
    </form>
    <div id="chart-container"
        hx-get="/qc/charts/run/{{ .run.RunID }}"
        hx-include="#chart-form,#qc-table-form"
        hx-trigger="load"
        hx-swap="innerHTML ignoreTitle:true">
        <p>Loading chart...</p>
    </div>
    {{ else if eq $state "ready" }}
    <p>QC data has yet to be imported for this run.</p>
    {{ else }}
    <p>QC data is not available until the run is ready.</p>
    {{ end }}
</section>

<script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>

{{ template "footer" }}
{{ end }}
