{{ define "run_table" }}
{{ $run_filter := .run_filter }}
{{ $current_page := .runs.PaginationMetadata.Page }}
{{ $total_pages := .runs.PaginationMetadata.TotalPages }}
<p class="mx-6" id="table-counts">
    Showing {{ .runs.PaginationMetadata.Count}} of {{ .runs.PaginationMetadata.TotalCount }} runs
    Page {{ .runs.PaginationMetadata.Page }} / {{ .runs.PaginationMetadata.TotalPages }}
</p>

<div class="mx-6 my-2" id="table-nav">
    <button type="button" class="table-nav-item disabled:bg-gray-400 bg-accent-900 text-white py-1 px-2"
        hx-get="/runtable?page={{ subtractInt $current_page 1 }}&page_size={{ $run_filter.PageSize }}"
        hx-include="form"
        hx-select="#runtable-body"
        hx-target="#runtable-body"
        hx-select-oob="#table-counts,#table-nav"
        hx-swap="outerHTML"
        {{ if eq $current_page 1 }}disabled{{ end }}>Previous</button>

    {{ range N 1 (addInt .runs.PaginationMetadata.TotalPages 1) }}
    <button type="button" class="table-nav-item w-10 disabled:bg-gray-400 bg-accent-900 text-white p-1"
        hx-get="/runtable?page={{ . }}&page_size={{ $run_filter.PageSize }}"
        hx-include="form"
        hx-select="#runtable-body"
        hx-target="#runtable-body"
        hx-select-oob="#table-counts,#table-nav"
        hx-swap="outerHTML"
        {{ if eq $current_page . }}disabled{{ end }}>{{ . }}</button>
    {{ end }}

    <button type="button" class="table-nav-item disabled:bg-gray-400 bg-accent-900 text-white py-1 px-2"
        hx-get="/runtable?page={{ addInt $current_page 1 }}&page_size={{ $run_filter.PageSize }}"
        hx-include="form"
        hx-select="#runtable-body"
        hx-target="#runtable-body"
        hx-select-oob="#table-counts,#table-nav"
        hx-swap="outerHTML"
        {{ if eq $current_page $total_pages }}disabled{{ end }}>Next</button>
</div>

<div class="mx-6 mb-6 overflow-x-auto">
    <form hx-get="/runtable" hx-target="#runtable-body" hx-select="#runtable-body" hx-swap="outerHTML" hx-trigger="search, keyup changed delay:300ms from:input[name=run_id_query], change from:select[name=platform], change from:select[name=state]" hx-select-oob="#table-counts,#table-nav">
        <table class="w-full">
            <thead class="text-left">
                <tr class="border-b border-slate-500">
                    <th>Run</th>
                    <th>Platform</th>
                    <th>Flowcell</th>
                    <th>Sequencing date</th>
                    <th>Status</th>
                    <th>Last updated</th>
                    <th>Path</th>
                </tr>
                <tr>
                    <th><input class="w-full border border-slate-300" type="search" name="run_id_query" placeholder="Filter by run ID" value="{{ .run_filter.RunIdQuery }}" /></th>
                    <th>
                        <select name="platform">
                            {{ $knownPlatform := false }}
                            <option value="" {{ if eq $run_filter.Platform "" }}selected{{ $knownPlatform = true }}{{ end }}>All</option>
                            {{ range .platforms }}
                            <option value="{{ . }}" {{ if eq $run_filter.Platform . }}selected{{ $knownPlatform = true }}{{ end }}>{{ . }}</option>
                            {{ end }}
                            {{ if not $knownPlatform }}
                            <option value="{{ $run_filter.Platform }}" selected>{{ $run_filter.Platform }}</option>
                            {{ end }}
                        </select>
                    <th/>
                    <th/>
                    <th>
                        <select name="state">
                            {{ $knownState := false }}
                            <option value="" {{ if eq $run_filter.State "" }}selected{{ $knownState = true }}{{ end }}>All</option>
                            <option value="ready" {{ if eq $run_filter.State "ready" }}selected{{ $knownState = true }}{{ end }}>Ready</option>
                            <option value="pending" {{ if eq $run_filter.State "pending" }}selected{{ $knownState = true }}{{ end }}>Pending</option>
                            <option value="error" {{ if eq $run_filter.State "error" }}selected{{ $knownState = true }}{{ end }}>Error</option>
                            {{ if not $knownState }}
                            <option value="{{ $run_filter.State }}" selected>{{ $run_filter.State }}</option>
                            {{ end }}
                        </select>
                    </th>
                    </th>
                </tr>
            </thead>

            <tbody class="border-y border-slate-500" id="runtable-body">
                {{ if not .runs.Runs }}
                <tr><td colspan="7" class="text-center">No results to show</td></tr>
                {{ end }}
                {{ range .runs.Runs }}
                <tr class="hover:bg-accent-100">
                    <td><a class="text-accent-900" href="/runs/{{ .RunID }}">{{ .RunID }}</a></td>
                    <td>{{ .Platform }}</td>
                    <td>{{ .RunInfo.FlowcellName }}</td>
                    <td>{{ .RunInfo.Date.Local.Format "2006-01-02" }}</td>
                    <td>{{ (index .StateHistory 0).State.String | title }}</td>
                    <td>{{ (index .StateHistory 0).Time.Local.Format "2006-01-02 15:04:05 MST" }}</td>
                    <td><code>{{ .Path }}</code></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </form>
</div>
{{ end }}
